*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    background-color: #151515;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}


/* Hero Section */
.main{
    display: flex;
    flex-direction: row;
}

.left-main{
    padding-left: 4vw;
} 

.tag-line{
    padding-top: 1.5rem ;
    font-size:4.8rem;
    font-weight: 300;
}

.pink{
    color: #F637EC;
    font-weight: 900;
}

.line2{
    padding-top: 2rem;
    font-size: 1.1rem;
    font-weight: lighter;
    color: #BBBBBB;
}


.get-started{
    padding: 4rem 0rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.get-img{
    position: relative;
    top: 0.6rem;
    left:0.8rem;
}

.get{
    margin-left: -1.2rem; 
}

.RightArrow{
    padding-right: 20px;
}

.num-size{
    font-size: 2.8rem;
}

.plus{
    color: #F637EC;
    font-size: 2rem;
    font-weight: 600;
}

.first{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    bottom: 2rem;
    left: 0.8rem;
}

.second{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    right: 3.5rem;
}

.second-2{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    right: 2.8rem;
}

.vector{
    position: relative;
    right: 1.8rem;
    top:1rem;
}


/* .right-main{

} */