@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

:root{
    /* color  */
    --bg:#151515;
    --bg2:#292929;
    --bgw:#ffffff;
    --bgg:#B4B4B4;
    --bgp:#F637EC;
    --transcardsbg:#272727;
    --transcards-md-bg:#4F4D4C;

    /* font-family  */
    --ffp:'Poppins',
        sans-serif;
    --ffr:'Roboto',
        sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--bgw);
    font-family: var(--ffp);
}

/* ================
    Typography
================ */
a{
    text-decoration: none;
    color: var(--bgw);
}

h1{
    font-size: 5rem;
    font-weight: 400;
}


/* ================
    Header
================ */

.nav-menu{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #F637EC; */
    font-size: 0.9rem;
}

.logo{
    /* border: 2px solid #fff; */
    margin-top: 2em;
    margin-left: 5em;
    margin-bottom: 1em;
}

.menu-list,
.menu-list-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    list-style: none;
    /* border: 2px solid #fff; */
}

.menu-list{
    width: 45vw;
}

.menu-list-right{
    width: 20vw;
}

.btn-pink-bg{
    position: absolute;
    right: 7em;
    opacity: 0.5;
}


/* ================
    Multiple Logo's
================ */

.multi-logo{
    background-color: var(--bg2);
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
    /* border: 2px solid #fff; */
}




/* ================
    Second Section
================ */

.second-section{
    display: flex;
    align-items: center;
}

.second-section > h1{
    width: 60%;
}

.second-section-title{
    padding-left: 5rem;
    padding-top: 7rem;
}

.second-section-span{
    color: var(--bgp);
    font-weight: bold;
}

.second-section-para{
    padding-top: 5em;
    padding-left: 2em;
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.7;
}


/* ===========
Transaction Cards
============= */
.trans-cards{
    margin: 5em 0em;
    display: flex;
    justify-content: space-evenly;
}

.trans-cards-1{
    height: 300px;
    width: 300px;
    background-color: var(--transcardsbg);
    border: 1px solid #fff;
    text-align: center;
}