@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

:root{
    /* color  */
    --bg:#151515;
    --bg2:#292929;
    --bgw:#ffffff;
    --bgg:#B4B4B4;
    --bgp:#F637EC;
    --transcardsbg:#272727;
    --transcards-md-bg:#4F4D4C;

    /* font-family  */
    --ffp:'Poppins',
        sans-serif;
    --ffr:'Roboto',
        sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--bgw);
    font-family: var(--ffp);
}

/* ================
    Typography
================ */
a{
    text-decoration: none;
    color: var(--bgw);
}

h1{
    font-size: 5rem;
    font-weight: 400;
}


/* ================
    Header
================ */

.nav-menu{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #F637EC; */
    font-size: 0.9rem;
    opacity: 0.8;
}

.logo{
    /* border: 2px solid #fff; */
    margin-top: 2em;
    margin-left: 6em;
    margin-bottom: 1em;
}

.menu-list,
.menu-list-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    list-style: none;
    /* border: 2px solid #fff; */
}

.menu-list{
    width: 45vw;
}

.menu-list-right{
    width: 20vw;
}

.btn-pink-bg{
    position: absolute;
    right: 7em;
    opacity: 0.5;
}

/* ================
    Main Section
================ */
.main{
    overflow: hidden;
}

.main-left{
    margin-left: 5em;
    margin-top: 5em;
}

.main-left > h1{
    letter-spacing: 0.5px;
    font-size: 5.5rem;
}

.main-left > h1 > span{
    color: var(--bgp);
    font-weight: 550;
}

.main-left > p{
    margin-top: 1em;
    font-size: 1.2rem;
    opacity: 0.7;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 1.4;
}

.btn-pink{
    height: 35px;
    margin-top: 6em;
}

.main-left > h3{
    display: inline-block;
    position: relative;
    right: 2em;
    bottom: 0.4em;
    font-size: 1.3rem;
    font-weight: 550;
}

.right-arrow{
    position: relative;
    bottom: 0.5em;
    right: 1em;
}

.main-left > h2{
    margin-top: 2em;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 400;
}

.main-left > h2 > span{
    color: var(--bgp);
}

.main-left-sub-title{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.vector{
    margin-left: 1em;
    margin-right: 2em;
    position: relative;
    top: 1em;
}

/* main-right */

.back-cards{
    position: relative;
    bottom: 50em;
    left: 35em;
}

.front-cards{
    position: relative;
    bottom: 90em;
    left: 50em;
}


/* ================
    Multiple Logo's
================ */

.multi-logo{
    margin-top: -80em;
    background-color: var(--bg2);
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
    /* border: 2px solid #fff; */
}

/* ================
    Second Section
================ */

.second-section{
    display: flex;
    align-items: center;
}

.second-section > h1{
    width: 60%;
}

.second-section-title{
    padding-left: 5rem;
    padding-top: 7rem;
}

.second-section-span{
    color: var(--bgp);
    font-weight: bold;
}

.second-section-para{
    padding-top: 5em;
    padding-left: 2em;
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.7;
}


/* ===========
Transaction Cards
============= */
.trans-cards{
    margin: 8em 0em;
    display: flex;
    justify-content: space-evenly;
}

.trans-cards-1{
    margin-top: 5em;
    height: 300px;
    width: 300px;
    background-color: var(--transcardsbg);
    text-align: center;
    box-shadow: -1px -1px 5px 0 #fff;
}

.trans-cards-1 > img{
    margin-top: 3em;
    height: 130px;
}

.trans-cards-1 > h3{
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.5rem;
}

.trans-cards-2{
    height: 300px;
    width: 300px;
    background-color: var(--transcards-md-bg);
    text-align: center;
    box-shadow: -1px -1px 5px 1px #fff;
}

.trans-cards-2 > img{
    margin-top: 1em;
    height: 130px;
}

.trans-cards-2 > h3{
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.5rem;
}

/* =============
Unique Card Choice
============= */

.unique-card{
    background-color: #fff;
    padding-top: 8em;
    color: #000;
    text-align: center;
}

.unique-card > h1 > span{
    font-weight: 600;
    color: var(--bgp);
}

.unique-card > p{
    position: relative;
    top: 2em;
    margin-top: 1em;
    opacity: 0.8;
    font-size: 1.3rem;
}

/* ================
Rating Card
===================*/

.rating-card{
    background-color: var(--bg);
    color: #fff;
    padding-top: 5em;
    padding-bottom: 3em;
    text-align: center;
}

.rating-card > h1 > span{
    color: var(--bgp);
    font-weight: 550;
}

.rating-card > p{
    margin-top: 2em;
    margin-bottom: 5em;
    font-size: 1.4rem;
    opacity: 0.6;
    font-weight: 300;
}

/* ==============
Visiting Card
================*/
.visiting-card{
    overflow: hidden;
    text-align: center;
    color: #fff;
    height: 45em;
}

.rect-1{
   width: 100vw;
}

.rect-2{
    width: 100vw;
    position: relative;
    bottom: 37em;
}

.diam-left{
    position: relative;
    bottom: 71em;
    left: 26em;

}

.diam-right{
    position: relative;
    bottom: 75em;
}

.visiting-card > h1{
    position: relative;
    bottom: 20em;
}

.visiting-card > h1 >span{
    color: #000;
    font-weight: 550;
    opacity: 0.7;
}

.visiting-card > div > h3{
    
    display: inline-block;
    position: relative;
    right: 2em;
    bottom: 0.4em;
    font-size: 1.3rem;
    font-weight: 550;
    
}

.visiting-card > div{
    position: relative;
    bottom: 103em;
}

/* ===========
Footer
============== */

footer{
    display: flex;
    margin-bottom: 3em;
}

footer > img{
    margin-left: 6em;
}

footer > div{
    margin-left: 13em;
    margin-top: 0.6em;
}

footer > div > a{
    margin-right: 3em;
}